@import url('https://fonts.googleapis.com/css?family=Acme');
*{
    margin:0;
    padding: 0;
    cursor: default;
}
input[type="text"],input[type="tel"],input[type="email"],textarea{
    cursor: text;
}
body{
    background: url('./some1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: inline-flex;
    margin: 1%;
    margin-left: 5% !important;
    color: #333;
    font-size: 30px;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    align-items: center;
}
header div{
    margin: 10%;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;
}
header div:hover{
    color: rgb(153, 152, 152);
}
span>span{
    display: inline-flex;
    text-align: center;
}
span>span i{
    transition: 0.3s;
    margin:0.2em;
    font-size: 0.8em;
    cursor: pointer;
    height: 1.70em;
    width:1.7em;
}
span i:hover{
    color:rgb(153, 152, 152);
}
.quote{
    font-family: 'Acme', sans-serif;
    font-size: 3em;
}
.content{
    display: grid;
    grid-template-columns: 0.7fr 1fr;
}