@import url('https://fonts.googleapis.com/css?family=Acme');
*{
    margin:0;
    padding: 0;
    cursor: default;
}
input[type="text"],input[type="tel"],input[type="email"],textarea{
    cursor: text;
}
body{
    background: url('./some1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: inline-flex;
    margin: 1%;
    margin-left: 5% !important;
    color: #333;
    font-size: 30px;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    align-items: center;
}